:root {
  --main-page-font: 'Roboto', sans-serif;

  --accent-color: #ffffff;

  --primary-text-color: #ffffff;
  --secondary-text-color: #ffffff;
  --additional-text-color: #ffffff;

  --white-color: #ffffff;

  --primary-bg-color: #ffffff;
  --secondary-bg-color: #ffffff;
  --dark-bg-color: #ffffff;

  --transition-function: 300ms ease-in-out;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
