:root {
  --main-page-font: 'Roboto', sans-serif;

  --accent-color: #ff6b08;

  --white-text-color: #ffffff;
  --black-text-color: #000000;
  --grey-text-color: #545454;

  --accent-bg-color: #ff6b01;
  --footer-bg-color: #f7f7f7;

  /*button-style*/
  --button-bg-color: #ff6b01;
  --button-text-color: #ffffff;
  --button-border-color: #ffffff;
  --secondary-button-color: #000000;

  --transition-function: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  /*modalTeam*/
  --backdrop-color: rgba(12, 10, 32, 0.719);
  --shadow-off: inset rgba(255, 255, 255, 0.2) 8px 8px 25px 5px,
    inset rgba(0, 0, 0, 0.5) -8px -8px 18px 5px;
  --shadow-on: inset rgba(0, 0, 0, 0.5) 8px 8px 18px 5px,
    inset rgba(255, 255, 255, 0.295) -8px -8px 18px 5px;
}
