:root {
  --main-page-font: 'Roboto', sans-serif;

  --accent-color: #ff6b08;

  --primary-text-color: #ffffff;
  --secondary-text-color: #ffffff;
  --additional-text-color: #ffffff;

  --white-color: #ffffff;

  --primary-bg-color: #ffffff;
  --secondary-bg-color: #ffffff;
  --dark-bg-color: #ffffff;

  /*button-popup*/
  --bg-color: #ff6b01;
  --text-color: #ffffff;
  --secondary-button-color: #000000;

  --transition-function: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
