<section class="container gallery">
  <ul class="gallery-list">
    <li class="gallery-item">
      <ul class="img-list">
        <li class="img-item">
          <a class="img-item_link" href="#">
            <div class="product">
              <img class="product_img" src="" alt="" width="" />
              <div class="product__description">
                <p class="product__title"></p>
                <p class="product__subtitle"></p>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</section>
