<header class="header-main">
<div class="container">
  <div class="header-section">
    <nav class="navigation">
      <a href="./index.html" class="navigation__logo">
        <svg class="logo__icon" width="24" height="24" id="homeBtn">
          <use href="./images/sprite.svg#icon-film"></use>
        </svg>
        <span class="logo__name">Filmoteka</span>
      </a>
      <div class="site-nav__list btn">
        <button type="button" class="site-nav__btn current" id="index">Home
        </button>
        <button type="button" class="site-nav__btn" id="library">My library
      </button>
      </div>
    </nav>
    <div class="form">
      <form class="search-form" id="search-form">
        <input
          type="text"
          name="query"
          autocomplete="off"
          placeholder="Поиск фильмов"
          class="search-field"
          id="name"
        />
        <label class="form-label" for="name">Поиск фильмов</label>
        <button type="submit" class="search-btn">
          <svg class="search-icon" width="12" height="12">
            <use href="./images/sprite.svg#icon-search"></use>
          </svg>
        </button>
      </form> 
    </div>
    <div class="header-warning" id="js-warning"></div>
    <div class="library-btn visually-hidden" id="js-buttons">
      <button type="button" class="handle-button header-button lib watched-js" data-action="add">
        <span class="handle-button__title">watched</span>
      </button>
    
      <button type="button" class="handle-button header-button lib queue-js" data-action="add">
        <span class="handle-button__title">queue</span>
      </button>
    </div>
    <div class="toolbar">
      <div class="theme-switch">
          <div class="theme-switch__control">
          <input class="theme-switch__toggle" type="checkbox" name="theme" id="theme-switch-toggle"
            aria-label="light-dark theme switcher" />
          <label aria-hidden="true" class="theme-switch__track" for="theme-switch-toggle"> </label>
          <div aria-hidden="true" class="theme-switch__marker"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</header>
