<div class="backdrop visually-hidden" data-modal>
  <div class="team">
    <ul class="team-list">
      <!-- 1 -->
      <li class="team-list__card desktop"></li>
      <!-- 2 -->
      <li class="team-list__card">
        <div class="team-list__thumb">
          <a href="https://github.com/Peekaboo-dev">
            <img class="team-list__img visually-hidden" src="images/team/АК.jpg" alt="Kondratenko Oleksandr" />
          </a>
        </div>
      </li>
      <!-- 3 -->
      <li class="team-list__card desktop"></li>
      <!-- 4-->
      <li class="team-list__card">
        <div class="team-list__thumb">
          <a href="https://github.com/Puziichuk">
            <img class="team-list__img visually-hidden" src="images/team/AP.jpg" alt="Puziichuk Alena " /> 
        </a>
        </div>
      </li>
      <!-- 5 -->
      <li class="team-list__card desktop"></li>
      <!-- 6 -->
      <li class="team-list__card">
        <div class="team-list__thumb">
          <a href="https://github.com/EvgenBielich">
            <img class="team-list__img visually-hidden" src="images/team/EB.jpg" alt="Bielich Evgen"/>
    </a>
        </div>
      </li>
      <!-- 7 -->
      <li class="team-list__card">
        <div class="team-list__thumb">
          <a href="https://github.com/irinafilipenko">
            <img class="team-list__img visually-hidden" src="images/team/IF.jpg" alt="Filipenko Irina" />
        </a>
        </div>
      </li>
      <!-- 8 -->
      <li class="team-list__card desktop"></li>
      <!-- 9 -->
      <li class="team-list__card"></li>
      <!-- 10 -->
      <li class="team-list__card">
        <div class="team-list__thumb">
          <a href="https://github.com/watarmeli">
            <img class="team-list__img visually-hidden" src="images/team/IU.jpg" alt="Uzun Ilya" />  
        </a>
        </div>
      </li>
      <!-- 11 -->
      <li class="team-list__card">
        <div class="team-list__thumb">
          <a href="https://github.com/JullsMD">
            <img class="team-list__img visually-hidden" src="images/team/JM.jpg" alt="Melnik Julia" />  
        </a>
        </div>
      </li>
      <!-- 12 -->
      <li class="team-list__card desktop"></li>
      <!-- 13 -->
      <li class="team-list__card"></li>
      <!-- 14 -->
      <li class="team-list__card">
        <div class="team-list__thumb">
          <a href="https://github.com/kotikm81">
            <img class="team-list__img visually-hidden" src="images/team/KM.jpg" alt="Mykhailova Kateryna" />
        </a>
        </div>
      </li>
      <!-- 15 -->
      <li class="team-list__card">
        <div class="team-list__thumb">
          <a href="https://github.com/Natali-tk">
            <img class="team-list__img visually-hidden" src="images/team/NT.jpg" alt="Tockaya Nataly" />
        </a>
        </div>
      </li>
      <!-- 16 -->
      <li class="team-list__card desktop"></li>
      <!-- 17 -->
      <li class="team-list__card">
        <div class="team-list__thumb">
          <a href="https://github.com/Seryoga-Nosik">
            <img class="team-list__img visually-hidden" src="images/team/SN.jpg" alt="Nosik Sergiy" />
          </a>
        </div>
      </li>
      <!-- 18 -->
      <li class="team-list__card desktop"></li>
      <!-- 19 -->
      <li class="team-list__card desktop"></li>
      <!-- 20 -->
      <li class="team-list__card">
        <div class="team-list__thumb">
          <a href="https://github.com/TereshchenkoSD">
            <img class="team-list__img visually-hidden hoverStyles" src="images/team/ST.jpg" alt="Tereshchenko Sergey" />
        </a>
        </div>
      </li>
    </ul>

    <button class="team__button" data-modal-close>
      <svg class="team__icon" width="10" height="10">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
  </div>
</div>
