<div class="backdrop is-hidden" >
  <div class="team" data-modal>
    <ul class="team-list">
      
      <!-- 1 -->
      <li class="team-list__card"></li>
      
      <!-- 2-->
      <li class="team-list__card">
        <div class="team-list__thumb">
          <a href="https://github.com/Puziichuk">
            <img class="team-list__img is-hidden" src="images/team/AP.jpg" alt="Puziichuk Alena " />
            <p class="team-list__text">Puziichuk Alena - developer</p> 
        </a>
        </div>
      </li>
      
      <!-- 3 -->
      <li class="team-list__card">
        <div class="team-list__thumb">
          <a href="https://github.com/EvgenBielich">
            <img class="team-list__img is-hidden" src="images/team/EB.jpg" alt="Bielich Evgen"/>
    <p class="team-list__text">Bielich Evgen - developer</p>
          </a>
        </div>
      </li>
      <!-- 4 -->
      <li class="team-list__card">
        <div class="team-list__thumb">
          <a href="https://github.com/irinafilipenko">
            <img class="team-list__img is-hidden" src="images/team/IF.jpg" alt="Filipenko Irina" />
        <p class="team-list__text">Filipenko Irina - Scrum-master/developer</p>
          </a>
        </div>
      </li>
      
      <!-- 5 -->
      <li class="team-list__card"></li>
      <!-- 6 -->
      <li class="team-list__card">
        <div class="team-list__thumb">
          <a href="https://github.com/watarmeli">
            <img class="team-list__img is-hidden" src="images/team/IU.jpg" alt="Uzun Ilya" /> 
            <p class="team-list__text">Uzun Ilya - developer</p> 
        </a>
        </div>
      </li>
      <!-- 7 -->
      <li class="team-list__card">
        <div class="team-list__thumb">
          <a href="https://github.com/JullsMD">
            <img class="team-list__img is-hidden" src="images/team/JM.jpg" alt="Melnik Julia" />  
            <p class="team-list__text">Melnik Julia - developer </p>
        </div>
      </li>
      
      <!-- 8 -->
      <li class="team-list__card"></li>
      <!-- 9 -->
      <li class="team-list__card">
        <div class="team-list__thumb">
          <a href="https://github.com/kotikm81">
            <img class="team-list__img is-hidden" src="images/team/KM.jpg" alt="Mykhailova Kateryna" />
            <p class="team-list__text">Mykhailova Kateryna - Team Leader/developer</p>
        </a>
        </div>
      </li>
      <!-- 10 -->
      <li class="team-list__card">
        <div class="team-list__thumb">
          <a href="https://github.com/Natali-tk">
            <img class="team-list__img is-hidden" src="images/team/NT.jpg" alt="Totskaya Nataliia" />
            <p class="team-list__text">Totskaya Nataliia - developer</p>
        </a>
        </div>
      </li>
      
      <!-- 11 -->
      <li class="team-list__card">
        <div class="team-list__thumb">
          <a href="https://github.com/Seryoga-Nosik">
            <img class="team-list__img is-hidden" src="images/team/SN.jpg" alt="Nosik Sergiy" />
          <p class="team-list__text">Nosik Sergiy - reviewer/developer</p>
          </a>
        </div>
      </li>
      
      <!-- 12 -->
      <li class="team-list__card">
        <div class="team-list__thumb">
          <a href="https://github.com/TereshchenkoSD">
            <img class="team-list__img is-hidden hoverStyles" src="images/team/ST.jpg" alt="Tereshchenko Sergey" />
        <p class="team-list__text">Tereshchenko Sergey - developer</p>
          </a>
        </div>
      </li>
    </ul>

    <button class="team__button" data-modal-close>
      <svg class="team__icon" width="20" height="20">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
  </div>
</div>
