<!-- MODAL-TEAM -->
<div class="backdrop visually-hidden" data-modal>
<div class="team">

    <ul class="team-list">
        <li class="team-list__item"></li>
        <li class="team-list__item"></li>
        <li class="team-list__item"></li>
        <li class="team-list__item"></li>
        <li class="team-list__item"></li>
        <li class="team-list__item"></li>
        <li class="team-list__item"></li>
        <li class="team-list__item"></li>
        <li class="team-list__item"></li>
        <li class="team-list__item"></li>
        <li class="team-list__item"></li>
        <li class="team-list__item"></li>
        <li class="team-list__item"></li>
        <li class="team-list__item"></li>
        <li class="team-list__item"></li>
        <li class="team-list__item"></li>
        <li class="team-list__item"></li>
        <li class="team-list__item"></li>
        <li class="team-list__item"></li>
        <li class="team-list__item"></li>
    </ul>
    <button class="team__button" data-modal-close>
        <svg class="team__icon" width="50" height="50">
        <use href='./images/sprite.svg#close'></use>
        </svg>
    </button>

</div>
</div>