<div class="container slider-wrapper">
  <h2 class="title-slider">Most Popular</h2>
  <div class="image-slider swiper-container">
    <div class="image-slider__wrapper swiper-wrapper">
      <div class="image-slider__slide swiper-slide">
        <div class="image-slider__image">
          <img src="./images/sliders/slide1.jpg" alt="" />
        </div>
      </div>
      <div class="image-slider__slide swiper-slide">
        <div class="image-slider__image">
          <img src="./images/sliders/slide2.jpg" alt="" />
        </div>
      </div>
      <div class="image-slider__slide swiper-slide">
        <div class="image-slider__image">
          <img src="./images/sliders/slide3.jpg" alt="" />
        </div>
      </div>
      <div class="image-slider__slide swiper-slide">
        <div class="image-slider__image">
          <img src="./images/sliders/slide4.jpg" alt="" />
        </div>
      </div>
      <div class="image-slider__slide swiper-slide">
        <div class="image-slider__image">
          <img src="./images/sliders/slide5.jpg" alt="" />
        </div>
      </div>
      <div class="image-slider__slide swiper-slide">
        <div class="image-slider__image">
          <img src="./images/sliders/slide6.jpg" alt="" />
        </div>
      </div>
      <div class="image-slider__slide swiper-slide">
        <div class="image-slider__image">
          <img src="./images/sliders/slide7.jpg" alt="" />
        </div>
      </div>
      <div class="image-slider__slide swiper-slide">
        <div class="image-slider__image">
          <img src="./images/sliders/slide8.jpg" alt="" />
        </div>
      </div>
      <div class="image-slider__slide swiper-slide">
        <div class="image-slider__image">
          <img src="./images/sliders/slide9.jpg" alt="" />
        </div>
      </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
