body.show-modal .header-backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.header-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.logButton {
  background-color: var(--secondary-button-color);
  color: var(--button-text-color);
}

.modal__container__auth {
  background-color: rgba(0, 0, 0, 0.9);
  width: 400px;
  height: 350px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-shadow: var(--secondary-button-color);
}
.auth-header {
  height: 35px;
  color: var(--accent-color);
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16em;
  text-align: center;
  margin-bottom: 30px;
}

.button-close-modal {
  position: relative;
  right: 2px;
  top: -2px;
  display: inline-flex;
  justify-content: flex-end;
  margin-right: 0;
  z-index: 99999;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-weight: 700;
  color: var(--accent-color);
}

.site-nav__link.sign-in {
  cursor: pointer;
  background-color: transparent;
}

.logout {
  height: 35px;
  color: var(--accent-color);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.16em;
  text-align: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.sign-in.is-hidden {
  display: none;
}
