.movie-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);

  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: var(--timing-function);
  background-attachment: fixed;
  overflow: scroll;
  padding: 20px;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: none;
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: var(--timing-function);
    transition-delay: var(--transition-function);
  }
}

.modal {
  z-index: 2;
  overflow-y: scroll;
  padding: 48px 20px 41px 20px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__movie-img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__movie-img {
  width: 100%;
}
.modal__close-button {
  outline: 1px solid red;
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  padding: 0;

  cursor: pointer;
  background: transparent;
  border: transparent;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.modal__close-btn-icon {
  outline: 1px solid red;
  fill: var(--black-text-color);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

@media screen and(min-width: 768px) {
  .modal {
    display: flex;
    flex-wrap: wrap;
  }
}
