// * {
//   outline: 1px solid red;
// }
/* MODAL - tEAM */
/* MOBILE */

// backdrop
.backdrop.visually-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 2500ms var(--timing-function);
}
.backdrop {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 98;
  overflow-y: scroll;

  background-color: var(--backdrop-color);
}

// modal
.team {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 90vh;
  background-color: transparent;
  background-attachment: scroll;
}

.team-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;
}

.team-list__item {
  width: 33.333%;
  height: 25%;

  background-color: transparent;
  box-shadow: var(--shadow-off);
  outline: 2px solid var(--black-text-color);
  transition: all 500ms var(--timing-function);

  &:hover {
    transition-duration: 10ms;
    background-color: rgba(255, 250, 240, 0.288);
    box-shadow: var(--shadow-on);
    // transform: scale(3);
  }
}

.team__button {
  position: fixed;
  top: -20px;
  right: 0;
  padding: 0;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 15px;
  height: 15px;
  border-radius: 5px;
}
.isActive {
  box-shadow: var(--shadow-on);
}

.team__icon {
  outline: none;
  fill: var(--black-text-color);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.mobile {
  display: none;
}

/* TABLET & DESKTOP */
@media screen and(min-width: 768px) {
  .mobile {
    display: block;
  }
  .team-list__item {
    width: 20%;
    height: 25%;
  }
}
@media screen and(min-width: 768px) and(max-width: 1023px) {
}
