/* MODAL - tEAM */

// backdrop
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 98;
  overflow-y: scroll;
  background-color: var(--backdrop-color);
  transition: opacity var(--transition-function) var(--timing-function);
}

// modal
.team {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);
  width: 70vw;
  height: 85vh;
  background-color: transparent;
  background-attachment: scroll;

  opacity: 1;
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: var(--timing-function);
  transition-delay: 250ms;

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: var(--timing-function);
    transition-delay: 0ms;
  }
}

.team-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;
}

.team-list__card {
  width: 33.333%;
  height: 25%;

  background-color: transparent;
  box-shadow: var(--shadow-off);
  outline: 2px solid var(--black-text-color);
  transition: all 500ms var(--timing-function);

  &:first-child:hover {
    transform: translate(100%, 100%) scale(3);
    transition: all var(--timing-function) 1000ms;
  }
  &:nth-child(2):hover {
    transform: translate(0, 100%) scale(3);
    transition: all var(--timing-function) 1000ms;
  }
  &:nth-child(3):hover {
    transform: translate(-100%, 100%) scale(3);
    transition: all var(--timing-function) 1000ms;
  }
  &:nth-child(4):hover {
    transform: translate(100%, 100%) scale(3);
    transition: all var(--timing-function) 1000ms;
  }
  &:nth-child(5):hover {
    transform: translate(0, 100%) scale(3);
    transition: all var(--timing-function) 1000ms;
  }
  &:nth-child(6):hover {
    transform: translate(-100%, 100%) scale(3);
    transition: all var(--timing-function) 1000ms;
  }
  &:nth-child(7):hover {
    transform: translate(100%, 0) scale(3);
    transition: all var(--timing-function) 1000ms;
  }
  &:nth-child(8):hover {
    transform: translate(0, 0) scale(3);
    transition: all var(--timing-function) 1000ms;
  }
  &:nth-child(9):hover {
    transform: translate(-100%, 0) scale(3);
    transition: all var(--timing-function) 1000ms;
  }
  &:nth-child(10):hover {
    transform: translate(100%, -100%) scale(3);
    transition: all var(--timing-function) 1000ms;
  }
  &:nth-child(11):hover {
    transform: translate(0, -100%) scale(3);
    transition: all var(--timing-function) 1000ms;
  }
  &:nth-child(12):hover {
    transform: translate(-100%, -100%) scale(3);
    transition: all var(--timing-function) 1000ms;
  }

  &:hover {
    box-shadow: var(--shadow-on);
    outline-width: 1px;
    transition-duration: 10ms;
    transition-delay: 200ms;
    z-index: 101;
  }
}

.team__button {
  position: fixed;
  top: -30px;
  right: 0;
  padding: 0;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 25px;
  height: 25px;
  background-color: transparent;
  border: transparent;
  border-radius: 5px;
}
.isActive {
  box-shadow: var(--shadow-on);
}

.team__icon {
  outline: none;
  fill: var(--white-text-color);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.team-list__thumb {
  position: relative;
  width: 100%;
  height: 100%;
  &:hover .team-list__text {
    bottom: 0;
  }
}

.team-list__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin: 0;
  opacity: 0;
  transform: rotateY(180deg);
  transition: all 1000ms var(--timing-function);
}
.animated {
  transform: perspective(350px) rotateY(0);
  opacity: 1;
}
.team-list__text {
  position: absolute;
  bottom: -1000%;
  width: 100%;
  text-align: center;
  font-family: var(--main-page-font);
  font-size: 6px;
  background-color: var(--accent-color);
  color: var(--white-text-color);
}
/* TABLET */

@media screen and(min-width: 768px) {
  .team {
    width: 75vw;
    height: 90vh;
  }
  .team-list__card {
    width: 25%;
    height: 33.333%;
  }

  .team-list__card:nth-child(1):hover {
    transform: translate(100%, 100%) scale(3);
  }
  .team-list__card:nth-child(2):hover {
    transform: translate(100%, 100%) scale(3);
  }
  .team-list__card:nth-child(3):hover {
    transform: translate(-100%, 100%) scale(3);
  }
  .team-list__card:nth-child(4):hover {
    transform: translate(-100%, 100%) scale(3);
  }
  .team-list__card:nth-child(5):hover {
    transform: translate(100%, 0) scale(3);
  }
  .team-list__card:nth-child(6):hover {
    transform: translate(100%, 0) scale(3);
  }
  .team-list__card:nth-child(7):hover {
    transform: translate(-100%, 0) scale(3);
  }
  .team-list__card:nth-child(8):hover {
    transform: translate(-100%, 0) scale(3);
  }
  .team-list__card:nth-child(9):hover {
    transform: translate(100%, -100%) scale(3);
  }
  .team-list__card:nth-child(10):hover {
    transform: translate(100%, -100%) scale(3);
  }
  .team-list__card:nth-child(11):hover {
    transform: translate(0, -100%) scale(3);
  }
  .team-list__card:nth-child(12):hover {
    transform: translate(-100%, -100%) scale(3);
  }

  .team-list__text {
    font-size: 10px;
  }
}

@media screen and(min-width: 1024px) {
  .team {
    width: 50vw;
    height: 90vh;
  }
}
