@media screen and (max-width: 767px) {
  .title-slider {
    display: none;
  }

  .image-slider {
    display: none;
  }

  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    display: none;
  }

  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .slider-wrapper {
    padding-bottom: 20px;
  }

  .slider-wrapper.is-hidden {
    display: none;
  }

  .image-slider__image img {
    border-radius: 5px;
    height: 252.5px;
    object-fit: cover;
  }

  // .image-slider__image:hover{

  // }

  .title-slider {
    font-family: var(--main-page-font);
    color: var(--accent-color);
    font-size: 30px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    text-shadow: -1px -1px 0 grey, 1px -1px 0 grey, -1px 1px 0 grey, 1px 1px 0 grey;
    padding: 20px 0 20px 0;
  }

  .image-slider__image {
    text-align: center;
  }

  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: 10px;
    right: auto;
    top: 50%;
  }

  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: 10px;
    left: auto;
    top: 50%;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 66px;
    color: var(--accent-color);
  }

  // рейтинг

  .rating-slider {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 38px;
    height: 18px;
    font-family: var(--main-page-font);
    font-weight: 500;
    font-size: 13px;
    line-height: 1.1;
    color: var(--white-text-color);
    background-color: var(--accent-bg-color);
    border-radius: 5px;
  }

  // кнопка трейлер
  .overlay-btn-youtube-text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 35px;
    width: 70px;
    top: 110px;
    left: 90px;
    pointer-events: none;
    font-family: var(--main-page-font);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    z-index: 2;
    opacity: 0;
    transform: translateX(-63%);
    transition: all 400ms ease-in;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .overlay-btn-youtube-text {
      top: 93px;
      left: 80px;
    }

    .image-slider__image img {
      height: 222.5px;
      object-fit: cover;
    }
  }

  .swiper-wrapper:hover .overlay-btn-youtube-text {
    display: flex;
    opacity: 1;
    transform: translateX(-63%);
  }

  .btn-youtube-text-slider {
    position: absolute;
    font-family: var(--main-page-font);
    font-size: 16px;
    color: var(--accent-bg-color);
    cursor: pointer;
    margin: 0;
    z-index: 5;
  }

  .swiper-slide {
    transition: var(--transition-function) var(--timing-function);
  }

  .swiper-slide:hover {
    transform: scale(0.95);
  }
}
