/* FOOTER */
.auxiliaryIndent {
  margin-bottom: 40px;
  @media screen and(min-width: 768px) {
    margin-bottom: 60px;
  }
}

/* MOBILE */
.footer {
  background-color: var(--footer-bg-color);
  width: 100%;
}
.footer-wrapper {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: var(--main-page-font);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.143;
}

.footer-content {
  margin-top: 9.9px;
  display: flex;
  align-items: center;
}

.footer-content__icon {
  margin: 0 10px;
  fill: var(--accent-color);
  transition: fill 250ms var(--timing-function);

  transform: scale(1.5);
  animation: animate125 1000ms infinite 1000ms;

  &:hover,
  &:focus {
    fill: var(--grey-text-color);
  }
}

.footer-content__link {
  display: flex;
  margin-left: 4px;
  text-decoration: underline;
  color: inherit;
  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    color: var(--accent-bg-color);
  }
}

/* TABLET & DESKTOP */
@media screen and (min-width: 767px) {
  .footer-wrapper {
    min-height: 77px;
    flex-direction: row;
    font-size: 16px;
    line-height: 1.171;
  }
  .footer-content {
    margin-top: 0;
    margin-left: 4px;
  }
}

// ANIMATION
@keyframes animate125 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

.footerToBottom {
  position: fixed;
  bottom: 0;
  left: 0;
}
