.gallery-list {
  padding-top: 20px;
  padding-bottom: 40px;
}

.gallery-list__item {
  width: 280px;
  height: 440px;
}

.poster {
  width: 280px;
  height: 398px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.film-card__name {
  @include font;
  text-transform: uppercase;
}

.film-card__genres {
  @include font;
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .gallery-list__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .gallery-list {
    padding-top: 60px;
    padding-bottom: 50px;
    @include grid(30px);
  }
  .gallery-list__item {
    width: 294px;

    @include grid-item(30px, 2);
  }
  .poster {
    width: 294px;
  }
}

@media screen and (min-width: 1024px) {
  .gallery-list {
    padding-top: 50px;
    padding-bottom: 60px;
    @include grid(30px);
  }
  .gallery-list__item {
    width: 274px;
    @include grid-item(30px, 3);
  }
  .poster {
    width: 274px;
  }
}
