@mixin font {
  font-family: var(--main-page-font);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #000000;
}

.gallery-list {
  padding-top: 20px;
  padding-bottom: 40px;
}

.gallery-list__item {
  width: 280px;
  height: 440px;
}

.poster {
  width: 280px;
  height: 398px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.film-card__name {
  @include font;
  text-transform: uppercase;
  font-weight: 700;
}

.film-card__genres {
  @include font;
  color: #ff6b08;
}

@media screen and (max-width: 767px) {
  .gallery-list__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .gallery-list {
    @include grid(30px);
  }
  .gallery-list__item {
    @include grid-item(30px, 2);
  }
}

@media screen and (min-width: 1024px) {
  .gallery-list {
    @include grid(30px);
  }
  .gallery-list__item {
    @include grid-item(30px, 3);
  }
}
