.header-main.my-library {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/header-bg-lib-mobile.jpeg);
}

.header-button.watched-js {
  margin-right: 19px;
}

.header-button.lib {
  min-width: 130px;
}

.library-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header-button.is-active {
  border: none;
  background-color: var(--button-bg-color);
}

@media screen and (min-width: 768px) {
  .header-main.my-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header-bg-lib-tablet.jpeg);
  }
  .header-button.lib.watched-js {
    min-width: 136px;
    margin-right: 15px;
  }
  .header-button.lib.queue-js {
    min-width: 136px;
  }
}

@media screen and (min-width: 1024px) {
  .header-main.my-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header-bg-lib-desktop.jpeg);
  }
  .header-button.lib.watched-js {
    min-width: 136px;
    margin-right: 15px;
  }
  .header-button.lib.queue-js {
    min-width: 136px;
  }
}

.content-library {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
